node_modules/
.expo/
dist/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production
android/app/build/
android/build/
android/.gradle/
android/local.properties
